.Header {
    display: flex;
    padding: 8px 16px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
    color: black;
}

.Header .loginBtn {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}
