.LogoutButton {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.LogoutButton:hover {
  color: var(--primary-color);
}

.LogoutButton span {
  margin-right: 8px;
}
