.Notification {
  background-color: white;
  box-shadow: 5px 5px 8px #DEDEDE;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.slideOut {
  transform: translateY(-100%);
  opacity: 0;
}

.typeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 20px;
}

.typeIcon.info {
  color: var(--primary-color);
}

.typeIcon.success {
  color: var(--light-green-color);
}

.typeIcon.error {
  color: var(--red-color)
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 4px;
  background-color: transparent;
}
